@model IEnumerable<FeriaVirtualWeb.Models.DataContext.PRODUCTO>

@{ 
    Layout = null;
}

<h5 class="d-flex justify-content-center">Productos</h5>
<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CANTIDAD)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CANTIDAD)
        </td>
    </tr>
}

</table>
