<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/assest/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assest/css/mystiles.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Maipo Grande</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <div>
                @RenderBody()
            </div>
            @*<form class="form-inline my-2 my-lg-0">
                
            </form>*@
        </div>
    </nav>
    <div class="backimg">
            <div class="panel-left"></div>
            <div class="panel-right">
                <div>
                    <h2 class="font-white">¿Desea vender y comprar productos</h2>
                    <h2 class="font-white">a través de nuestra empresa?</h2>
                    <br />
                    <h2 class="font-white">Contacte con Nosotros</h2>
                </div>
            </div>
        </div>

    <script src="~/assest/js/jquery-3.3.1.min.js"></script>
    <script src="~/assest/js/bootstrap.bundle.min.js"></script>
</body>
</html>






