<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="shortcut icon" type="image/x-icon" href="~/assest/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <link href="~/assest/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assest/css/all.min.css" rel="stylesheet" />
    <link href="~/assest/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/assest/css/owl.theme.css" rel="stylesheet" />
    <link href="~/assest/css/owl.transitions.css" rel="stylesheet" />
    <link href="~/assest/css/meanmenu.min.css" rel="stylesheet" />
    <link href="~/assest/css/animate.css" rel="stylesheet" />
    <link href="~/assest/css/normalize.css" rel="stylesheet" />
    <link href="~/assest/css/waves.min.css" rel="stylesheet" />
    <link href="~/assest/css/button.css" rel="stylesheet" />
    <link href="~/assest/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/assest/css/notika-custom-icon.css" rel="stylesheet" />
    <link href="~/assest/css/main.css" rel="stylesheet" />
    <link href="~/assest/css/style.css" rel="stylesheet" />
    <link href="~/assest/css/responsive.css" rel="stylesheet" />
    <link href="~/assest/css/mystiles.css" rel="stylesheet" />
    <script src="~/assest/js/jquery-3.3.1.min.js"></script>
    <link href="~/assest/css/toastr.min.css" rel="stylesheet" />
    <script src="~/assest/js/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="loading" style="display:none"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position:fixed;z-index:2; width:100%;">
        <a class="navbar-brand ml-5" href="#"><img src="~/assest/img/logomg.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
            </ul>
            <div>
                @RenderBody()
            </div>
        </div>
    </nav>
    <div class="backimg">
        <div class="panel-left">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h1 class="font-titulo">MAIPO GRANDE</h1>
            <br />
            <h3 class="font-white">Compre y Venda productos fruticolas con nosotros</h3>
            <h5 class="font-white">Ofrecemos la mejor experiencia</h5>
            <br />
            <br />
        </div>
        <div class="panel-right d-flex justify-content-center align-items-center">
            <div class="col-md-6 d-flex justify-content-center pb-2" style="background-color: #FFFFFF;box-shadow: -2px 3px 17px -1px rgba(0,0,0,0.75);box-sizing:border-box;">
                @Html.Partial("NewContacto")
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mb-5">
        <h2>NUESTROS SERVICIOS</h2>
    </div>
    <div class="container-frutas">
        <div class="container-card-frutas">
            <div class="cards-frutas col-4">
                <div class="container-img-frutas">
                    <img src="~/assest/img/durazno.jpg" />
                    <div class="d-flex justify-content-center mt-3">
                        <h6>VENTA A CLIENTES INTERNACIONALES</h6>
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <div style="width:70%;">
                            <p class="text-center">Orden y compra de productos a traves de procesos de venta externa</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards-frutas col-4">
                <div class="container-img-frutas">
                    <img src="~/assest/img/banana.jpg" />
                    <div class="d-flex justify-content-center mt-3">
                        <h6>VENTA A CLIENTES NACIONALES</h6>
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <div style="width:70%;">
                            <p class="text-center">Compra de productos a traves de procesos de venta local</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards-frutas col-4">
                <div class="container-img-frutas">
                    <img src="~/assest/img/citrus.jpg" />
                    <div class="d-flex justify-content-center mt-3">
                        <h6>VENTA PRODUCTORES NACIONALES</h6>
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <div style="width:70%;">
                            <p class="text-center">Venta de productos por medio de procesos de venta externa y local</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-mision">
        <div style="width:40%;margin:auto;">
            <h3 class="d-flex justify-content-center" style="color: #F6F8FA;padding-top:100px;padding-bottom:40px;">Mision</h3>
            <p class="text-center font-mision">Nuestra mision es facilitar la comercialización de los productos de nuestros diferentes clientes en el mercado extranjero y local</p>
        </div>
    </div>
    <div class="d-flex justify-content-center" style="background-color:#FFFFFF;padding-top:100px;">
        <h2>SERVICIOS ANEXOS</h2>
    </div>
    <div class="container-reportes" style="padding-top:10px;margin-bottom:100px;">
        <div class="container-card-reportes">

            <div class="container-img-reportes col-5">
                <img src="~/assest/img/reportes.png" class="img-reportes" />
                <div class="d-flex justify-content-center mt-3">
                    <h6>REPORTES</h6>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <div style="width:70%;">
                        <p class="text-center">Podra descargar reportes en PDF sobre sus ganancias y transacciones</p>
                    </div>
                </div>
            </div>
            <div class="container-img-reportes col-5">
                <img src="~/assest/img/repartidor.jpg" class="img-reportes" style="border-radius:50%;" />
                <div class="d-flex justify-content-center mt-3">
                    <h6>TRANPORTE</h6>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <div style="width:70%;">
                        <p class="text-center">Tendra acceso a transporte de sus productos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>
                            &copy; @DateTime.Now.Year - Mi aplicación Web ALTO MAIPO
                        </p>
                        <p class="pt-0">Correo de Contacto:&nbsp; maipogrande77@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assest/js/jquery-3.3.1.min.js"></script>
    <script src="~/assest/js/modernizr-2.8.3.js"></script>
    <script src="~/assest/js/jquery.validate.min.js"></script>
    <script src="~/assest/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assest/js/bootstrap.min.js"></script>
    <script src="~/assest/js/toastr.min.js"></script>
    <script src="~/assest/js/wow.min.js"></script>
    <script src="~/assest/js/jquery-price-slider.js"></script>
    <script src="~/assest/js/owl.carousel.min.js"></script>
    <script src="~/assest/js/jquery.scrollUp.min.js"></script>
    <script src="~/assest/js/jquery.meanmenu.js"></script>
    <script src="~/assest/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/assest/js/jquery.sparkline.min.js"></script>
    <script src="~/assest/js/sparkline-active.js"></script>
    <script src="~/assest/js/jquery.flot.js"></script>
    <script src="~/assest/js/jquery.flot.resize.js"></script>
    <script src="~/assest/js/flot-active.js"></script>
    <script src="~/assest/js/jquery.knob.js"></script>
    <script src="~/assest/js/jquery.appear.js"></script>
    <script src="~/assest/js/knob-active.js"></script>
    <script src="~/assest/js/jquery.todo.js"></script>
    @*<script src="~/assest/js/waves.min.js"></script>
        <script src="~/assest/js/wave-active.js"></script>*@
    <script src="~/assest/js/plugins.js"></script>
    <script src="~/assest/js/main.js"></script>
</body>
</html>






