body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backimg {
    display: flex;
    background: url('/assest/img/transporte6.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.panel-right {
    height: 100vh;
    width: 50%;
    background-color: #00c292;
    opacity: 0.9;
}

.panel-left {
    height: 100vh;
    width: 50%;
    background-color: #FFFFFF;
    opacity: 0.9;
}

.font-white {
    display:flex;
    justify-content:center;
    color: #8D908F;
}

#form-login{
    display:flex;
}

.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #FFFFFF;
    opacity:0.8;
}

.text-table-modal {
    color: #000000;
    font-weight: bold;
}

.toast-top-right {
    top: 80px !important;
    left: 12px
}

.toast-success {
    background-color: #009688 !important
}

.card-header {
    background-color: #FFFFFF !important;
    border-bottom: none !important;
}

.card {
    border: none !important; 
}

.nav-item .nav-link {
    padding-top:0 !important;
    padding-bottom: 0 !important;
    height: 40px !important;
}

.card-header ul {
    border-bottom: 1px solid #E6E6E6 !important;
}

.nav-tabs .nav-link {
    border: none !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    position:relative;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link::before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    border-bottom: 2px solid #00c292 !important;
    transition: all 0.5s ease;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active::before {
    width:100%;
    left:0;
}


a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}

