@model FeriaVirtualWeb.Models.DataContext.VENTA

@{ 
    Layout = null;
}

<div>
    <h5 class="d-flex justify-content-center">Pago Transporte</h5>
    <hr />
    <table class="table table-condensed">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.COSTOTRANSPORTE)
            </td>

            <td>
                @Html.DisplayFor(model => model.COSTOTRANSPORTE)
            </td>
        </tr>      
    </table>
</div>

