@{ 
    Layout = "~/Views/Shared/_LayoutClienteExterno.cshtml";
}

<div class="breadcomb-area">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="breadcomb-list">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="breadcomb-wp">
                            <div class="breadcomb-icon">
                                <i class="notika-icon notika-form"></i>
                            </div>
                            <div class="breadcomb-ctn">
                                <h2>Mis Ordenes</h2>
                                <p>Ingrese y mantenga solicitudes de compra</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a id="btnNuevoOr" href="#exampleModalCenter2" class="btnVer btn btn-success notika-btn-success" data-toggle="modal">Nueva Orden&nbsp;&nbsp;<i class="fas fa-plus-circle"></i></a>
<br />
<br />

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a id="ordenesid" class="nav-link active" href="#card-ordenes">Ordenes</a>
            </li>
        </ul>
    </div>
    <div class="card-body" id="card-ordenes">
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #00c292">
                <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#ordenesid").click(function () {
            $("#card-ordenes").load("/Cliente/MyOrdersList/");
        });

        $("#ordenesid").trigger("click");
    });

    $("#btnNuevoOr").click(function () {
        $(".modal-body").load("/Cliente/GetListToAddNewOrders/");
    }); 
</script>